div { /* idk why this does not work: it did not work earlier as we didnt link it right, we added in a <style> tag */
    border: 1px solid black;
}

.webContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: lavender;
}

.calcBody {
    background-color: black;
    padding: 10px;
    border: 3px solid black;
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}   

.displayContainer {
    background-color: #E8DAB2;
    height: 90px;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid darkgrey;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    flex: auto;  
    border: 1px solid darkgrey; 
}

.buttonRow {
    display: flex;
    flex: auto;
}

button {
   min-width: 50px;
   min-height: 50px;
   flex: 1;
   font-size: 24px;
   background-color: #EAEAEA;
}

.numberButton,
.zeroButton,
.decimalButton {
    background-color: #EAEAEA;
}

.specialButtons_and_Clear,
.clearBtn {
    background-color: #4F6D7A;
}

.operatorButton {
    background-color: #C0D6DF;
}

.zeroButton {
    min-width: 50%;
    box-sizing: border-box;
    flex-grow: 2;
}

.decimalButton {
    flex-grow: 1;
}

.equalButton {
    flex-grow: 1;
    background-color: #DD6E42;
}
