div { /* idk why this does not work: it did not work earlier as we didnt link it right, we added in a <style> tag */
    border: 1px solid black;
}

.webContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: lavender;
}

.calcBody {
    background-color: #131B23;
    padding: 10px;
    border: 3px solid black;
    box-sizing: border-box;
    width: 400px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}   

.displayContainer {
    background-color: #E8DAB2;
    box-sizing: border-box;
    min-height: 90px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.previousOperand,
.currentOperand {
    border: 0px solid black;
}


.buttonContainer {
    display: flex;
    flex-direction: column;
    flex: auto;  
    border: 0px solid darkgrey; 
    background-color: black;
}

.buttonRow {
    display: flex;
    flex: auto;
}

button {
   min-width: 50px;
   min-height: 50px;
   flex: 1;
   font-size: 24px;
   background-color: #EAEAEA;
   border-radius: 5px;
   outline: none;
   cursor: pointer;
}

.numberButton,
.zeroButton,
.decimalButton {
    background-color: #EAEAEA;
}

.numberButton:hover,
.zeroButton:hover,
.decimalButton:hover {
    background-color: lightgrey;
}

.powerBtn,
.signChangeBtn,
.clearBtn {
    background-color: #4F6D7A;
}

.powerBtn:hover,
.signChangeBtn:hover,
.clearBtn:hover {
    background-color: #7fafc4;
}

.operatorButton {
    background-color: #C0D6DF;
}

.operatorButton:hover {
    background-color: skyblue;
}

.zeroButton {
    min-width: 50%;
    box-sizing: border-box;
    flex-grow: 2;
}

.decimalButton {
    flex-grow: 1;
}

.equalButton {
    flex-grow: 1;
    background-color: #DD6E42;
}

.equalButton:hover {
    background-color: lightcoral;
}
